---
import BaseLayout from "../../../layouts/BaseLayout.astro";
const pageTitle = "Índice de etiquetas";
const tags = [
  "astro",
  "bloguear",
  "aprender en público",
  "éxitos",
  "contratiempos",
  "comunidad",
];
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {tags.map((tag) => <li>{tag}</li>)}
  </ul>
</BaseLayout>
